footer {
    background-color: black;
    color: bisque;
    bottom: 0;
    width:100%;
    margin-top: 40px;
    span { 
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }
}